<head>
  <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
</head>

<body>

<header>
  <div id="logo">Bookmark Manager</div>
  <div id="user-links">
  	<% if current_user %>
      <span id="welcome-message">
      Welcome <%= current_user.email %></span>
  	<form id="sign-out" method="post" action="/sessions">
  	  <input type="hidden" name="_method" value="delete">
  	  <input type="submit" value="Sign out">
  	</form>
    <% else %>
      <a href="/users/new" id="sign-up">Sign Up</a>
      <a href="/sessions/new" id="sign-in">Sign In</a>
    <% end %>

  </div>

</header>

	<div id='new-link'>
	  <form action='/links' method='post' id="input-field-names">
	    Url: <input type='text' name='url' id="input-fields">
	    Title: <input type='text' name='title' id="input-fields">
	    Tags: <input type='text' name='tags' id="input-fields">
	    <input type='submit' value='Add link' id='submit-button'>
	  </form>
	</div>

	<span id="current-links">Current links:</span>
	<div id="added-links">
	  <ul>
	    <% @links.each do |link| %>
	      <li><a href='<%= link.url %>'><%= link.title %></a></li>
	    <% end %>
	  </ul>
	</div>

</body>